module.exports = {
	url: '',
	frontend: '',
	resourceAPI: '',
	db: {
		type: '',
		path: '',
		user: '',
		password: ''
	},
	facebook: {
		id: '',
		secret: ''
	},
	mail: {
		host: '',
		secure: ,
		port: ,
		auth: {
			user: '',
			pass: ''
		}
	},
	BrainTree: {
		merchantId: '',
		publicKey: '',
		privateKey: ''
	}
};
