module.exports = {
	url: '',
	notice: '',
	frontend: '',
	resourceAPI: '',
	cdn: '',
	db: {
		type: '',
		path: '',
		user: '',
		password: ''
	},
	facebook: {
		id: '',
		secret: ''
	},
	mail: {
		host: '',
		secure: ,
		port: ,
		auth: {
			user: '',
			pass: ''
		}
	},
	BrainTree: {
		merchantId: '',
		publicKey: '',
		privateKey: ''
	},
	ios: {
		sandBoxUrl: 'https://sandbox.itunes.apple.com/verifyReceipt',
		productionUrl: 'https://buy.itunes.apple.com/verifyReceipt',
		password: '',
		dummyReceptData: '',
		bundleId: '',
		productionIds: []
	},
	production: false
};
